[Unit]
Description=vtgate Service
Documentation=https://vitess.io/docs/
After=network.target
[Service]
User=root
Type=simple
EnvironmentFile=/vt/config/vtgate/podenv
ExecStart=/vt/config/vtgate_start_script.sh
Restart=always
RestartSec=2s
LimitNOFILE=655350
WorkingDirectory=/vt
[Install]
WantedBy=multi-user.target
